*{   
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'josefin sans', sans-serif;
    
}
.head{
    height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.733),rgba(0, 0, 0, 0.781)),url(image/contact-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} 
.container{
    
}
form{
width: 100%;
padding: 100px;
/* margin-left: 15%; */
/* align-items: center; */
}

.data h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    text-align: center;
    color: aliceblue;
}
.data p{
    color: aliceblue;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
}
.putting{
    text-align: center;
}
.data input{
    padding: 10px;
    margin: 10px;
    width: 400px;
    border-radius: 20px;
    border-color: aliceblue;
}
.data button{
    width: 400px;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: grey;
    border-color: black;
}
.data button:hover{
    background-color: grey;
    color:  black;
    border-color: white;
    transition: all 1s;
}


@media screen and (max-width: 770px) {
    .data input, .data button{
        width: 300px;
       ;
    }
    
  }
  @media screen and (max-width: 550px) {
    .data input, .data button{
        width: 200px;
       ;
    }
    form{
        width: 100%;
        padding: 50px;
        /* margin-left: 15%; */
        /* align-items: center; */
        }
    
  }
  @media screen and (max-width: 300px) {
    .data input, .data button{
        width: 130px;
       ;
    }
    form{
        width: 100%;
        padding: 30px;
        /* margin-left: 15%; */
        /* align-items: center; */
        }
    .data h1{
        font-size: 20px;
    }
    .data p{
        font-size: 10px;
    }
  }